@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bebas+Neue&family=Poppins&family=Roboto:wght@400;700&family=Tilt+Neon&display=swap");

* {
  font-family: "Bebas Neue", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
h3,
h2,
p {
  font-family: "Barlow Condensed", sans-serif;
  transition: all 0.3s ease-in-out;
}
body {
  width: 100%;
  height: auto;
  background-repeat: repeat;
  background-position: center;
  overflow-x: hidden;
  background-image: url(projects_bg1.png);
  transition: background-image 0.3s ease-in-out;
}
nav {
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: space-between;
  height: 13vh;
  align-items: center;
}
nav ul {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: right;
  font-size: 1.3rem;
}
.mode {
  margin-top: auto;
  margin-bottom: auto;
  justify-content: right;
  transition: all 0.5s ease-in-out;
}
.mode img {
  margin: auto;
  height: 20px;
  margin-left: 50px;
  margin-right: 10px;
  cursor: pointer;
  transform: translateY(-10%);
}
#logo {
  transition: all 0.2s ease-in-out;
}
#logo:hover {
  transform: scale(1.1);
}

#moon {
  transition: all 0.3s ease-in-out;
}

#sun {
  transition: all 0.3s ease-in-out;
  display: none;
}
.mode img:hover {
  transform: translateY(-10%) rotate(50deg);
}
nav ul a {
  color: #000000;
  padding: 0 15% 0 15%;
}
nav ul a li {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

nav ul li:hover {
  transform: translateX(10%);
  box-shadow: rgba(168, 168, 168, 0.54) 0px 3px 0;
}

.title {
  margin-left: 15%;
  margin-top: 100px;
}
.title h1 {
  font-size: 3rem;
}
.txtContainer {
  position: relative;
  border-top: solid 2px rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  height: 60vh;
  width: 80%;
  margin: 10px 10%;
  transition: 0.5s;
}
.text {
  width: 75%;
  margin-top: 5%;
  margin-left: 70px;
  transition: none;
}
.text p {
  margin-top: 40px;
  transition: none;
}
.text h5 {
  margin-top: 200px;
  text-align: center;
}
.phctn {
  position: absolute;
  top: -100px;
  right: -100px;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  overflow: hidden;
}
.phctn img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
body.dark {
  background-image: url(projects_bg2.png);
  color: #fff;
}
body.dark nav ul a li {
  color: #fff;
}
body.dark .txtContainer {
  border-top: solid 2px rgba(255, 255, 255, 0.6);
}
