@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bebas+Neue&family=Poppins&family=Roboto:wght@400;700&family=Tilt+Neon&display=swap");

* {
  font-family: "Bebas Neue", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

p {
  font-family: "Barlow Condensed", sans-serif;
  transition: all 0.3s ease-in-out;
}
body {
  width: 100%;
  height: auto;
  background-repeat: repeat;
  background-position: center;
  overflow-x: hidden;
  background-image: url(projects_bg1.png);
  transition: background-image 0.3s ease-in-out;
}
nav {
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: space-between;
  height: 13vh;
  align-items: center;
}
nav ul {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: right;
  font-size: 1.3rem;
}
.mode {
  margin-top: auto;
  margin-bottom: auto;
  justify-content: right;
  transition: all 0.5s ease-in-out;
}
.mode img {
  margin: auto;
  height: 20px;
  margin-left: 50px;
  margin-right: 10px;
  cursor: pointer;
  transform: translateY(-10%);
}
#logo {
  transition: all 0.2s ease-in-out;
}
#logo:hover {
  transform: scale(1.1);
}

#moon {
  transition: all 0.3s ease-in-out;
}

#sun {
  transition: all 0.3s ease-in-out;
  display: none;
}
.mode img:hover {
  transform: translateY(-10%) rotate(50deg);
}
nav ul a {
  color: #000000;
  margin: 0 15% 0 15%;
}
nav ul a li {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

nav ul a li:hover {
  transform: translateX(10%);
  box-shadow: rgba(168, 168, 168, 0.54) 0px 3px 0;
}

.back img {
  height: 30px;
  margin: 2% 0 0 5%;
  cursor: pointer;
}
.container {
  display: flex;
  flex-direction: row;
  margin: 3% 10% 5% 10%;
  gap: 10%;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 5%;
}
.text h1 {
  text-align: center;
}
.cat1 {
  padding-top: 50px;
  display: flex;
  border-top: solid 2px rgba(0, 0, 0, 0.6);
}
.cat1 p {
  margin-left: 20px;
}

.cat2 {
  display: flex;
}
.cat2 p {
  margin-left: 20px;
}

.images-slider {
  min-width: 500px;
  height: 600px;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.images-slider img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
body.dark {
  background-image: url(projects_bg2.png);
  color: #fff;
}
body.dark nav ul a li {
  color: #fff;
}

body.light .box1,
body.light .box2 {
  box-shadow: rgba(0, 0, 0, 0.408) 0px 12px 28px;
}
body.dark .cat1 {
  display: flex;
  border-top: solid 2px rgba(255, 255, 255, 0.6);
}
body.dark .images-slider {
  box-shadow: rgba(51, 51, 51, 0.45) 0px 25px 20px -20px;
}

h5 {
  margin-top: 200px;
  text-align: center;
}
