@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bebas+Neue&family=Poppins&family=Roboto:wght@400;700&family=Tilt+Neon&display=swap");

* {
  font-family: "Bebas Neue", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
h3,
h2,
p {
  font-family: "Barlow Condensed", sans-serif;
  transition: all 0.3s ease-in-out;
}
body {
  width: 100%;
  height: auto;
  background-repeat: repeat;
  background-position: center;
  overflow-x: hidden;
  background-image: url(projects_bg1.png);
  transition: all 0.3s ease-in-out;
}
nav {
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: space-between;
  height: 13vh;
}
nav a {
  margin-top: auto;
  margin-bottom: auto;
  height: 50px;
  cursor: pointer;
}
nav ul {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: right;
  font-size: 1.3rem;
}
.mode {
  margin-top: auto;
  margin-bottom: auto;
  justify-content: right;
  transition: all 0.5s ease-in-out;
}
.mode img {
  margin: auto;
  height: 20px;
  margin-left: 50px;
  margin-right: 10px;
  cursor: pointer;
}
#logo {
  transition: all 0.2s ease-in-out;
}
#logo:hover {
  transform: scale(1.1);
}

#moon {
  transition: all 0.3s ease-in-out;
}

#sun {
  transition: all 0.3s ease-in-out;
  display: none;
}
.mode img:hover {
  transform: rotate(50deg);
}
nav ul span {
  color: #000000;
  padding: 0 15% 0 15%;
}
nav ul span li {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

nav ul span li:hover {
  transform: translateX(10%);
  box-shadow: rgba(168, 168, 168, 0.54) 0px 3px 0;
}

body.dark {
  background-image: url(projects_bg2.png);
  color: #fff;
}
body.dark nav ul span li {
  color: #fff;
}

body.light .box1,
body.light .box2 {
  box-shadow: rgba(0, 0, 0, 0.408) 0px 12px 28px;
}

.title {
  display: flex;
  justify-content: center;
}

.title h1 {
  font-size: 3rem;
  transition: all 0.3s ease-in-out;
  cursor: default;
}
.bigctn1 {
  margin-top: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.imgctn {
  flex-basis: 50%;
  margin-left: 10%;
}
.box1 {
  height: 500px;
  width: 450px;
  transform: rotate(-3deg);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: rgba(144, 144, 146, 0.2) 0px 15px 34px 0px;
}
.box1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.text1 {
  overflow-wrap: break-word;
  flex-basis: 50%;
  margin-right: 10%;
  padding-left: 10%;
  padding-top: 10%;
}

.bigctn2 {
  margin-top: 250px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.imgctn2 {
  flex-basis: 50%;
  margin-right: 10%;
}
.box2 {
  height: 500px;
  width: 450px;
  transform: rotate(3deg);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: rgba(144, 144, 146, 0.2) 0px 15px 34px 0px;
}
.box2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.text2 {
  overflow-wrap: break-word;
  flex-basis: 50%;
  margin-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
}
.bigctn2:last-of-type {
  margin-bottom: 150px;
}
